elasticsearch:
  default:
    hosts:
      - "http://localhost:9200"
    max_retries: 10

thrift:
  addr: "localhost:9090"
  protocol: binary
  buffer_size: 8192

visit_repository:
  type: memory
  max_entities: 1000
  nested:
    type: elasticsearch
    client: default

event_repository:
  type: memory
  nested:
    type: elasticsearch
    client: default

flash_repository:
  type: elasticsearch
  client: default

processors:
  dummy:
    priority: 0
